<section [class.collapseSelectBox]="!this.selectBoxIsOpen" class="mainUserChannelSelectionBox">
    <div class="devSpaceTopDiv">
        <img src="./images/devSpaceLogo.svg">
        <h2>DevSpace</h2>
        <div class="editsquare">
            <img src="./icons/edit_square.svg">
            <img src="./icons/edit_square_lila.svg">
        </div>
    </div>
    <div class="channelsHeader">
        <div (click)="showChannels()" class="ChannelListDiv">
            <img src="./icons/channelArrowIcon.svg">
            <img [class.rotate-90]="!this.channelIsOpen" src="./icons/channelsArrowDownLila.svg">
            <img src="./icons/channelThreePointsIcon.svg">
            <img src="./icons/channelsThreePointsLila.svg">
            <h2>Channels</h2>
        </div>
        <div class="addChannel">
            <img src="./icons/channelPlusIcon.svg">
            <img src="./icons/plusIconLila.svg">
        </div>
    </div>
    <div [class.withoutDelay]="this.wasOpenBefore" [class.channelListVisible]="this.collapsingListIsOpen" class="channelKollapsingList">
        <div class="actualChannelsToChoose">
            @for(channel of userService.channelTable(); track channel.uuid){
            <p (click)="selectChannelAndEmitToParentComponent(channel)"><img src="./icons/lilaRoute.svg"> {{channel.name}}</p>    
            }
            <p ><img src="./icons/lilaRoute.svg"> Entwicklerteam</p>
            
        </div>
        <div class="newChannelButton">
            <img src="./icons/addChannelPlusIcon.svg">
            <img src="./icons/addChannelPlusIconLila.svg">
            <p (click)="openDialog()"> Channel hinzufügen</p>
        </div>

    </div>
    <div (click)="showMemberList()" class="directMessagesHeader">
        <img src="./icons/channelArrowIcon.svg">
        <img [class.member-rotate-90]="!this.memberListIsOpen" src="./icons/channelsArrowDownLila.svg">
        <img src="./icons/peopleIcon_black.svg">
        <img src="./icons/peopleIcon_lila.svg">
        <h2>Direct Messages</h2>
    </div>
    <div [class.withoutDelay]="this.wasOpenBefore" [class.memberListVisible]="this.memberListVisible" class="memberListForDirectMessages">
        @if(userService.userTable().length > 0){
        @for(user of userService.userTable(); track user){
        @if(user.gender === 'male'){
            <div (click)="selectUserAndEmitToParentComponent(user)" class="member">
        <img [src]="user.avatar_url === 'null' ? this.DEFAULT_MALE_AVATAR : user.avatar_url"> <p>{{user.username === 'null' ? 'User' : user.username}}</p>
            </div>
        }@else{
            <div (click)="selectUserAndEmitToParentComponent(user)" class="member">
            <img [src]="user.avatar_url === 'null' ? this.DEFAULT_FEMALE_AVATAR : user.avatar_url"> <p>{{user.username === 'null' ? 'User' : user.username}}</p>
            </div>
        }
    }
}
        
    </div>
    <div (click)="collapseSelectBox()" class="optionToMinimizeDiv">
        <p>Workspace-Menü schließen</p> <img [class.minimized]="this.isMinimized" src="./icons/minimizeIcon_Black.svg"><img [class.minimized]="this.isMinimized" src="./icons/minimizeIcon_Lila.svg">
    </div>
</section>