


<div class="loginHeaderLogoLink">
    <img src="./images/dabubble_logo.svg" alt="logo">
    <div [class.hideRegisterLink]="this.showAvatar" class="questonCreateAccount">
        <p>Neu bei DABubble?</p>
        <p class="createAccount" [routerLink]="['register']">Konto erstellen</p>
    </div>
</div>
<main>
    <!-- @if(activeMask() === 'loginMask'){
        <app-login-mask-component></app-login-mask-component>
    }@else if(activeMask() === 'registerMask'){
        <app-register-mask-component></app-register-mask-component>
    } -->
    <!-- <div class="activeMask">
        
    </div> -->
    <router-outlet></router-outlet>
</main>
<div class="ImpressumDataLinks">
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
</div>
