body.loginRegisterPage{
    max-width: 1920px;
    width:100%;
    margin: 0 auto;
    background-color:rgba(236, 238, 254, 1)
}

.loginHeaderLogoLink{
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 75px;
    >img{
        width: 242px;
        height: 70px;
    }
}

main{
    display:flex;
    justify-content: center;
    margin-top: 100px;
}