
.memberOverviewWrapper{
    padding: 40px;
    box-sizing: border-box;

    >.memberOverviewHeader{
        display:flex;
        justify-content:space-between;
        align-items: start;
        height:40px;
        margin-bottom: 20px;
        >p{
            margin:0px;
            font-size:24px;
            font-style: 600;
            font-weight: bold;
            font-family: 'Nunito_600';
        }
        >img{
            &:hover{
                cursor: pointer;
                background-color: grey;
                border-radius: 25px;
            }
        }
    }

    >.memberOverviewList{
        display:flex;
        flex-direction: column;
        gap: 10px;

        >.memberOverviewItem{
            display:flex;
            justify-content:start;
            gap:15px;
            cursor: pointer;
            >img{
                width: 50px;
                height: 50px;
                margin-left:20px;
            }
        }
        >.addMemberPoint{
            display:flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            >img{
                width: 32px;
                height: 32px;
                margin-left:29px;
            }
        }
    }
}
