<section class="mainDirectChannelMessageBox">
    <div class="chatHeader">
        <div class="channelName">
            @if(selectedUser(); as user){
                <img class="avatar" [src]="user.avatar_url ? user.avatar_url : this.DEFAULT_MALE_AVATAR">
                <h2 (click)="openInfoDialog()">{{user.username}}</h2>
                
            }@else if(selectedChannel(); as channel){
                <img class="routeblack" src="./icons/chatRouteIcon.svg">
                <img class="routeLila" src="./icons/routeLila.svg">
            <h2 (click)="openInfoDialog()">{{channel.name}}</h2>
            <img class="arrowDonw" src="./icons/chatHeaderArrowDownIcon.svg">
            <img class="lilaArrowDown" src="./icons/lilaArrowDown.svg">
            }
        </div>
        @if(members(); as membersArray){
        @if(membersArray.length > 0){


        <div class="ChannelMemberViewAndInfo">
            @if(members(); as member){
            <div (click)="openMemberOverviewDialog()" class="memberListAndCountWrapper">
                <div class="memberList">
                    @for(member of members(); track member.user_id){
                    <img [src]="member.avatar_url ? member.avatar_url : this.DEFAULT_MALE_AVATAR">
                    }
                </div>
                <div class="memberCount">
                    <p>{{members().length}}</p>
                </div>
            </div>
            }
            <!-- <img src="./images/male_Avatar1.svg">
            <img src="./images/male_Avatar2.svg">
            <img src="./images/male_Avatar2.svg">
            <img src="./images/male_Avatar2.svg">
            <img src="./images/male_Avatar2.svg">
            <img src="./images/male_Avatar2.svg"> -->
            <div #addMemberDiv (click)="openAddMemberToChannelDialog()" class="addMeberIconDiv">
                <img class="blackAddIcon" src="./icons/addMemberToChannelIcon.svg">
                <img class="lilaAddIcon" src="./icons/lilaAddIcon2.svg">
            </div>
        </div>
        }
        }
    </div>

    <div class="innerMessageWrapper">

    </div>
    <div class="chatInputField">
        <textarea type="textArea" placeholder="Nachricht schreiben"></textarea>
        <div class="toolDiv">
            <div class="textAreaToolsLeft">
                <img src="./icons/smileyIcon.svg">
                <img src="./icons/atIcon.svg">
            </div>
            <div class="sendTextArea">
                <img src="./icons/sendButtonIcon.svg">
            </div>
        </div>
    </div>
</section>