<section class="mainDirectChannelMessageBox">
    <div class="chatHeader">
        <div class="channelName">
            <img src="./icons/chatRouteIcon.svg">
            @if(selectedUser(); as user){
                <h2 (click)="openInfoDialog()">{{user.username}}</h2>
                
            }@else if(selectedChannel(); as channel){
                <h2 (click)="openInfoDialog()">{{channel.name}}</h2>
            }
            <img src="./icons/chatHeaderArrowDownIcon.svg">
        </div>
        <div class="ChannelMemberViewAndInfo">
            <img src="./images/male_Avatar1.svg">
            <img src="./images/male_Avatar2.svg">
            <img src="./images/male_Avatar2.svg">
            <img src="./images/male_Avatar2.svg">
            <img src="./images/male_Avatar2.svg">
            <img src="./images/male_Avatar2.svg">
            <p>3</p>
            <div class="addMeberIconDiv">
                <img class="blackAddIcon" src="./icons/addMemberToChannelIcon.svg">
                <img class="lilaAddIcon" src="./icons/lilaAddIcon2.svg">
            </div>
        </div>
    </div>
    <div class="innerMessageWrapper">

    </div>
    <div class="chatInputField">
        <textarea type="textArea" placeholder="Nachricht schreiben"></textarea>
        <div class="toolDiv">
            <div class="textAreaToolsLeft">
                <img src="./icons/smileyIcon.svg">
                <img src="./icons/atIcon.svg">
            </div>
            <div class="sendTextArea">
                <img src="./icons/sendButtonIcon.svg">
            </div>
        </div>
    </div>
</section>