/* You can add global styles to this file, and also import other style files */
@use './app/app.scss';
@use './fonts.scss';


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #636161;
    display:flex;
    flex-direction: column;
    
    min-height: 100vh;

}

.cdk-overlay-pane.createChannelDialog{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
    
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    
}

.cdk-overlay-pane.addMemberToChannelDialog{
    display:flex;
    position:absolute !important;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    top:200px;
    // left:845px !important;
    
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    
}

.cdk-overlay-pane.memberOverviewDialog{
    display:flex;
    position:absolute !important;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    top:200px;
    // left:845px !important;
    
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    
}

.cdk-overlay-pane.ProfileOverviewDialog{
    display:flex;
    position:absolute !important;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    top:200px;
    // left:845px !important;
    
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    
}
.cdk-dialog-container:focus {
  outline: none;
}