
<div class="topLayerChatbox">
    <div class="headerSearchBarAndProfileArea">
        <img src="./images/dabubble_logo.svg">
        <div class="searchBar">
            <input type="text" placeholder="Dev-Space durchsuchen">
            <img src="./icons/search-Icon.svg">
        </div>
        <div class="profileAndSettings">
            <p>Max Mustermann</p>
            <img src="./images/profileImageExample.svg">
            <img src="./icons/settingsArrowDown.svg">
            <img src="/icons/arrowDownLila.svg">
        </div>
    </div>
    <div class="mainChatArea">
        <app-channel-user-selection-component></app-channel-user-selection-component>
        <app-direct-messages-component></app-direct-messages-component>
        <app-user-threads-component></app-user-threads-component>
    </div>
</div>
